.inputContent {
    width: 540px;
    margin: 0 0 10px 0;
    flex-shrink: 0;
}

.inputBox {
    width: 540px;
    height: 56px;
    flex-shrink: 0;
    padding: 18px;
    border: none;

    border-radius: 10px;
    background: #262529;
    color: white;
}