
.notePreview{
    background: var(--background-600);
    height: 9rem;
    width: 100%;
    border-bottom-width: 1px solid var(--background-700);
    padding: 2rem;
    
    align-items: center;

    grid-area: header;
}

img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.welcome {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    line-height: 1rem;

    font-size: 1rem;
    color: var(--gray-100);
}

.logout {
    margin: -7.37rem 1rem 0 1rem;
    text-align: right;
    padding: 2rem;
    color: var(--orange);
}