.homeContainer {
    width: 100%;
    height: 100vh;    

    display: grid;
    grid-area: Home;
    grid-template-columns: 250px;
    grid-template-rows: 105px 50px auto 64px;
    grid-template-areas: 
    "brand" 
    "search"
    "men"     
    "newnote";
}

.homeBrand {
    grid-area: brand;
    background: var(--background-900);
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--background-700);

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    color: var(--orange);
}

.homeMenu {
    grid-area: men;
    text-align: center;

    margin-top: 2rem;
    padding: 2rem;
    background: var(--background-700);

}

.homeMenu > li {
    list-style: none;
}

.homeSearch {
    display: flex;
    grid-area: search;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.newNote {
    grid-area: newnote;
    
    background: var(--orange);
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    margin: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}