.inputContent {
    width: 100%;
    display: flex;
    align-items: center;
    background: var(--background-800);
    color: var(--gray-100);
}

.inputBox {
    width: 400px;
    height: 50px;
    color: white;
    padding: 1rem;
    background-color: transparent;
    border: none;
}