.txtAreaContainer {
    width: 400px;
    height: 200px;
    background: var(--background-800);
    color: white;

    border: none;
    resize: none;
    
    margin-bottom: 8px;
    border-radius: 10px;
    padding: 16px;
}

