
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #1C1B1E;
}

::-webkit-scrollbar-track {
    background: #1C1B1E;
}

::-webkit-scrollbar {
    width: 5px;
    background: #FF859B;
}

::-webkit-scrollbar-thumb {
    background: #FF859B;
}