.homeContent {
    background: #1C1B1E;
    display: flex;
    margin: auto;
    justify-content: center;
    
}

.addMovie {
    display: inline-flex;
    height: 48px;
    padding: 32px;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    margin: 50px 0 50px 0;
}

.homeTitle {
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 746px 0 0;
}

.homeBtn {
    display: inline-flex;
    align-items: center;

    color: #FF859B;
}

.homeCard {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: auto;
}
