.homeContent {
    width: 100vw;
    background: #1C1B1E;
    display: block;
    text-align: center;
}

.addMovie {
    width: 70vw;
    display: inline-flex;
    padding: 32px;
    justify-content: space-between;
    gap: 8px;
    flex-shrink: 0;
    margin: 50px 0 50px 0;
}

.homeTitle {
    color: #FFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homeBtn {
    color: #FF859B;
}

.homeCard {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
    margin-left: auto;
}

@media (max-width: 1000px) {
    .addMovie {
        width: 50%;
        display: block;
        margin: auto;
        padding: 20px;
    }
    .homeTitle {
        margin-bottom: 50px;
    }
}